doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="/css/main.css")
    body
        header
            nav
                a(href="/") home
                a(href="/products") shop
                a(href="/cart") cart
                a(href="/orders") orders
                a(href="/admin/add-product") add product
                a(href="/admin/products") admin products
        main
            block content
