doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="/css/main.css")
    body
        header.p-1-2
            nav
                a.header-link(href="/") home
                a.header-link(href="/products") shop
                a.header-link(href="/cart") cart
                a.header-link(href="/orders") orders
                a.header-link(href="/admin/add-product") add product
                a.header-link(href="/admin/products") admin products
        main.p-1-2
            block content
