<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>shop</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">shop</a>
                <a href="/admin/add-product">add product</a>
            </nav>
        </header>
        <main>
            <h1>my products</h1>
            <p>list of all the products...</p>
        </main>
    </body>
</html>
