@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: #161821;
    color: #c6c8d1;
}

p {
    margin: .7rem 0;
}

a {
    display: inline-block;
    color: #e2a478;
}

li:not(:last-child) {
    margin-bottom: 2.1rem;
}

a:hover,
a:focus {
    color: #89b8c2;
}

button,
input {
    display: block;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: #c6c8d1;
    color: #161821;
    border: 0;
    border: 2px #84a0c6 solid;
}

button {
    cursor: pointer;
    transition: transform .3s ease;
}

button:hover {
    box-shadow: .4rem .4rem #ada0d3;
    transform: translateX(-.4rem) translateY(-.4rem) scale(1.03);
}

button:active {
    box-shadow: .2rem .2rem #ada0d3;
    transform: translateX(-.1rem) translateY(-.1rem) scale(.9);
}

/* hide spinners */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p-1-2 {
    padding: 1rem 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 3rem;
}

.inlineblock {
    display: inline-block;
}

.flex {
    display: flex;
}

.base-header {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    padding: 0 2rem;
    background: #84a0c6;
}

.header-link {
    font-size: 1.4rem;
    padding: .6rem 0;
    color: #161821;
    text-decoration: none;
}

.header-link._active {
    color: #e2a478;
    border-bottom: 3px solid #e2a478;
}

.header-link:hover,
.header-link:focus {
    color: #e27878 ;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
