body {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    background: #161821;
    color: #c6c8d1;
}

a {
    display: inline-block;
    color: #e9b189;
    margin: .5rem;
}

nav a:not(:last-child) {
    padding-right: 3rem;
}

li:not(:last-child) {
    margin-bottom: 1rem;
}

a:hover,
a:focus {
    color: #89b8c2;
}

button,
input {
    padding: .5rem 1rem;
    margin: .5rem;
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    background: #c6c8d1;
    color: #161821;
    border: 0;
    border: 4px #84a0c6 solid;
}
