extends ../layouts/base.pug

block content
    h1 #{product.title}
    span  #{product.price}$
    p #{product.desc}
    form(action=`/cart/add/${product.id}` method="POST")
        button(type="submit") add to cart
