extends ../layouts/base.pug

block content
    if products.length > 0
        h1 some products
        ul
            each product in products
                li
                    a.mb-1(href=`/products/${product.id}`)
                        | #{product.title} #{product.price}$
                    form(action="/add-to-cart" method="POST")
                        button add to cart
    else
        h1 no products
